<section id="about" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Acerca de</h2>
        <hr>
        <p class="lead">También conocidas simplemente como drogas de diseño, de síntesis o drogas herbales. Son sustancias psicoactivas (drogas) que en Irlanda se pueden encontrar en las tiendas especializadas en productos relacionados con las drogas (los establecimientos que venden papel de fumar, pipas, etc.), además de sex shops y estudios de tatuajes. También pueden adquirirse a través de Internet. Se venden como alternativa a otras drogas como el cannabis, el éxtasis, el LSD, las anfetaminas o la heroína.</p>
        <p>Que sepamos, hay varios cientos de drogas de este tipo. Entre ellas se incluyen:</p>
        <ul>
          <li>Sedantes</li>
          <li>Estimulantes</li>
          <li>Alucinogenos</li>
          <li>Afrodisiacos</li>
        </ul>
      </div>
    </div>
  </div>
</section>
