<section id="anfetaminas">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Anfetaminas</h2>
        <hr>
        <p class="lead">Las anfetaminas son un grupo de drogas estimulantes; algunas de ellas se utilizaron en el pasado como pastillas de adelgazamiento. Normalmente se presentan en un polvo blanco grisáceo y se venden en paquetes de papel envueltos, llamados ‘papelina’. Se suelen tragar, pero también se pueden inyectar o esnifar. Un tipo conocido como ‘hielo’ o ‘cristal’ se puede fumar..</p>
        <ul>
          <li>
            <b>Efectos –</b> Dependen de cómo se tome la droga. Una pequeña dosis por la boca te hace sentir más alerta y activo. Dosis mayores inyectadas o fumadas dan la sensación de una ráfaga de placer. Algunos usuarios de anfetas consumen cantidades excesivas y se sienten hiperactivos y habladores.
          </li>
          <li>
            <b>Efectos secundarios –</b>  Como en el caso de otras drogas estimulantes, se experimenta una crisis después del subidón que causa la droga. Dosis elevadas de anfetaminas pueden provocar pánico, paranoia y alucinaciones. Con el consumo a largo plazo, puedes desarrollar una enfermedad que se conoce con el nombre de ‘psicosis anfetamínica’, con síntomas similares a la esquizofrenia. La paranoia puede hacer que te vuelvas violento si crees que estás siendo amenazado o perseguido.
          </li>
          <li>
            <b>Riesgos–</b> La psicosis anfetamínica puede continuar después de interrumpir el consumo de la droga. Si te vuelves agresivo o violento, puedes encontrarte en situaciones peligrosas. Los riesgos de inyectarse la droga son los mismos que los de las otras sustancias, como la heroína.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
