<section id="canabis">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Canabis</h2>
        <hr>
        <p class="lead">El cannabis es una planta natural que se utiliza en tres formas principales. El tipo más común se llama la resina, que viene en bloques o trozos sólidos de color oscuro. El menos común son las hojas y los tallos de la planta, llamado hierba o maría. El tercer tipo, aceite de cannabis, apenas se ve en Irlanda.</p>
        <ul>
          <li>
            <b>Efectos –</b> ‘Colocarse’ con cannabis te hace sentir relajado, hablador y feliz. Hay personas que sienten que el tiempo va más despacio y también hablan de una apreciación mayor de los colores, sonidos y sabores. Se puede sentir un apetito desmedido o hambre feroz llamado en inglés ‘the munchies’.
          </li>
          <li>
            <b>Efectos secundarios –</b> El cannabis puede afectar a la memoria y a la concentración y puede dejarte cansado y sin motivación. Si no estás acostumbrado al cannabis o tomas un tipo más fuerte al que estás habituado, puedes sentir ansiedad, pánico o confusión. O tener delirios o alucinaciones.
          </li>
          <li>
            <b>Riesgos–</b> Muchas personas consideran el cannabis una droga bastante segura. Sin   embargo, las investigaciones demuestran que los consumidores a largo plazo pueden tener dificultades para controlar el consumo de la droga y pueden convertirse en adictos. Fumar cannabis aumenta el riesgo de enfermedades cardíacas y cánceres, como el de pulmón, y puede afectar a la fertilidad. En personas que tienen problemas de salud mental subyacentes, el cannabis puede desencadenar la esquizofrenia. En Irlanda es la segunda droga más común hallada en los sistemas de los conductores borrachos, después del alcohol.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>