<section id="cocaina" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Cocaina</h2>
        <hr>
        <p class="lead">La cocaína es un polvo blanco que se elabora a partir de las hojas de la coca, una planta que crece principalmente en Suramérica. Se suele consumir inhalando el polvo a través de la nariz. El ‘crack’ no es una droga distinta, sino que es una forma más adictiva de la cocaína. El crack, también llamado ‘roca’, ‘piedra’ o ‘base libre’ se suele fumar. La cocaína a veces se inyecta o se come.</p>
        <ul>
          <li>
            <b>Efectos –</b> La cocaína es un potente estimulante. Te hace sentir más alerta y activo a la vez que reduce tu hambre y sed. Sus efectos pueden durar hasta 20 minutos después de cada toma. Fumar cocaína de crack ofrece un subidón más corto, pero más intenso.
          </li>
          <li>
            <b>Efectos secundarios –</b>  Debido a sus potentes efectos, los consumidores de cocaína con frecuencia desean tomar más. Las dosis grandes pueden hacerte sentir fatigado, ansioso y deprimido, además de agresivo en ocasiones.
          </li>
          <li>
            <b>Riesgos–</b> Esnifar cocaína puede causar un daño permanente en el interior de la nariz. El consumo de la cocaína puede dañar el corazón y los pulmones; las dosis grandes pueden provocar la muerte debido a infartos o coágulos de sangre. Tomar cocaína con alcohol aumenta el riesgo de sufrir un infarto y de muerte. Comer cocaína puede dañar el tejido intestinal. La depresión que sigue al subidón puede ser grave y conducir a tentativas de suicidio. Con un consumo exagerado o a largo plazo, la excitación que causa la cocaína puede convertirse en inquietud, pérdida de sueño y pérdida de peso. Hay personas que desarrollan una psicosis paranoica y pueden llegar a ser violentas. El fuerte síndrome de abstinencia de la cocaína, sobre todo del crack, puede hacer que quieras tomar toda la droga a la vez y puedes perder el control del grado de consumo de la droga.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
