<div class="section__drugs">
	<div class="container">
		<div class="row container-cards">
			<%= render 'about' %>
			<% @blog.each do |i| %>
				<%= link_to (i), class: "col-md-4"  do	 %>
					<div class="card">
						<p><%= i.title %></p>
					</div>
				<% end -%>
			<% end %>
		</div>
		</div>
	</div>
</div>