<div class="section__drugs">
	<div class="container">
		<div class="row container-cards">

			<%= render 'about' %>

			<div class="col-md-4">
				<div class="card">
					<p>Canabis</p>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>