<section id="extasis" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Extasis</h2>
        <p class="lead">El éxtasis se suele elaborar en laboratorios clandestinos de algunos países europeos. Normalmente se vende en pastillas que tienen dibujados diversos logotipos o diseños. En ocasiones las pastillas de éxtasis pueden contener otras drogas y sustancias.</p>
        <ul>
          <li>
            <b>Efectos –</b> El éxtasis puede hacer que te sientas más alerta y sintonizado con el ambiente. Te sientes feliz y tranquilo, con una sensación de cariño hacia otras personas. Los sonidos, colores y emociones son más intensos. Tienes más energía, lo que te permite bailar durante períodos más largos de tiempo.
          </li>
          <li>
            <b>Efectos secundarios –</b> Tu temperatura corporal, tensión arterial y ritmo cardíaco aumentan. Otros efectos físicos incluyen dolores musculares, náuseas, agarrotamiento de la mandíbula y rechinar de dientes. Puedes experimentar sudor profuso, temblores y palpitaciones. Puedes sentirte deshidratado, confuso y cansado.
          </li>
          <li>
            <b>Riesgos–</b> La mayoría de las drogas legales se prueban primero en animales, pero los consumidores de éxtasis son los conejillos de indias. Las investigaciones muestran que los consumidores habituales de fin de semana experimentan una ‘crisis’ a mitad de semana, que los deja muy cansados y deprimidos, a menudo durante días. Pasarán años antes de que conozcamos los efectos a largo plazo, pero algunos consumidores pueden correr el riesgo de desarrollar problemas de salud mental posteriormente en su vida. Las muertes por éxtasis son bastante raras, pero pueden ser debidas a insolaciones, infartos o crisis de asma.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>