<section id="heroina">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Heroina</h2>
        <hr>
        <p class="lead">La heroína se elabora a partir de la morfina, una de las drogas que procede de la adormidera del opio. Se consume inyectándose o fumándose, lo que se llama ‘cazar al dragón’.</p>
        <ul>
          <li>
            <b>Efectos –</b> La inyección de heroína produce una ráfaga rápida de excitación seguida de una sensación de paz como en un sueño. Te sientes cariñoso, relajado y somnoliento. Los dolores, la agresión y la libido se ven reducidos.
          </li>
          <li>
            <b>Efectos secundarios –</b>  Entre los efectos secundarios de la heroína y otros opiatos (como la morfina y la metadona) se encuentran el estreñimiento y el debilitamiento de la respiración. Sin embargo, la mayoría de los peligros que acarrea la heroína provienen de la sobredosis o la inyección de la drog
          </li>
          <li>
            <b>Riesgos–</b> Lo que se vende en la calle, como la heroína, a menudo contiene otras sustancias, como el azúcar, la harina, los polvos de talco y otras drogas. Estas sustancias pueden parecer inofensivas, pero pueden provocar lesiones enormes en el cuerpo, como coágulos de sangre, abscesos y gangrena, si se inyectan. El SIDA y la hepatitis B y C se pueden contagiar si se comparten las agujas. Consumir heroína de forma frecuente puede crear adicción, en especial si se inyecta la droga.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
