<header class="bg-primary text-white section__hero">
  <div class="container text-center">
	  <%= image_tag("logo.png", class: "img-fluid") %>
	  <p class="lead">Conozca los tipos de droga existentes y evitelas</p>
	  <hr style="border: 2px solid orange">
	  <p style="font-size: 20px; text-shadow:1px 1px grey;">Adrenalina es una plataforma web, que surge como una opción para prevenir el consumo de drogas en la localidad de la candelaria</p>
  </div>
</header>