// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.section__index-title{
	height: 100px;
	.col h1{
		margin-top:80px; 
	}
}

.section__index-blog-content{
	.box-blog{
		cursor: pointer;
	}
}


.section__blog-hero{
	margin-top: 150px;
	.col-md-6{
		margin: 0 auto;
	}
}