.section__hero{
	background-image: asset_url("carrosuel.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 500px;

	.img-fluid{
		border-radius: 15px;
	}
}